<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class='container'>
  <h3>K8S Connect Demo</h3>
  <div class="alert alert-primary" role="alert">
    Web machine: <%= Socket.gethostname %>
  </div>
  <% st = @dbname == 'unreachable' ? 'danger' : 'success' %>
  <div class="alert alert-<%= st %>" role="alert">
    DB machine: <%= @dbname %>
  </div>
  <% if @dbhost == 'localhost' %>
  <style>
    .consul {
      background-color: rgb(252, 226, 238);
      color: #650d34;
    }
  </style>
  <div class="alert alert-danger consul" role="alert">
    <img src="https://www.consul.io/assets/images/og-image-6ef0ad8b.png" alt="connect" class="img-thumbnail" width="50px">
    Consul Connect enabled
  </div>
  <% end %>
</div>
</body>
</html>
