<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class='container'>
  <h3>K8s Connect Demo</h3>
  <div class="alert alert-primary" role="alert">
    Web machine: <%= Socket.gethostname %>
  </div>
<% if @apiname == 'unreachable' %>
  <div class="alert alert-danger" role="alert">
    API machine: unreachable
  </div>
  <div class="alert alert-danger" role="alert">
    DB machine: unreachable
  </div>
<% else %>
  <%= @apiname %>
<% end %>
</div>
</body>
</html>
